numpy
scipy
flask
flask-cors
librosa==0.9.2
# Ensure no numba is pulled in
numba==0.0.0 ; python_version < "0"  # forces pip to ignore numba

wavefile
soundfile
audioread
resampy
gunicorn
setuptools>=65.5.0
wheel